@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="cntr_pg">

    <h1 class="animate-charcter display-1"> SocialStock</h1>


    <form action="/DashBoard" method="get" name="searchquery">
        <input type="text" id="CompanySymbol" name="CompanySymbol" class="form-control rounded-pill" placeholder="Company Symbol..." />
        <div class="d-flex justify-content-center padTop20px">
            <button type="submit" class="btn btn-outline-light">Search</button>
        </div>
    </form>
</section>
